<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <appenders>
    	<Console name="DEBUGS" target="SYSTEM_OUT">
    		<MarkerFilter marker="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="INFOS" target="SYSTEM_OUT">
        	<MarkerFilter marker="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <Console name="WARNINGS" target="SYSTEM_OUT">
        	<MarkerFilter marker="WARN" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="Warning: %msg%n"/>
        </Console>     
        <Console name="ERRORS" target="SYSTEM_ERR">
        	<MarkerFilter marker="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="[ERROR]: %msg%n"/>
        </Console>   
        <Console name="FATALS" target="SYSTEM_ERR" >
        	<MarkerFilter marker="FATAL" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </appenders>
    <loggers>
        <root>
            <appender-ref ref="DEBUGS"/>
            <appender-ref ref="INFOS"/>
            <appender-ref ref="WARNINGS"/>
            <appender-ref ref="ERRORS"/>
            <appender-ref ref="FATALS"/>
        </root>
    </loggers>
</configuration>